*.iml
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.kotlin/

# Generated Icons
composeApp/src/androidMain/res/mipmap-*/ic_launcher*.png
composeApp/src/androidMain/res/mipmap-*/ic_launcher*.xml
composeApp/src/androidMain/res/drawable/ic_launcher_foreground.png
composeApp/src/androidMain/res/drawable/ic_launcher_background.png
iosApp/**/AppIcon.appiconset/*.png
!iosApp/**/AppIcon.appiconset/Contents.json
